@import '../../../assets/styles/main.scss';
.info-evolution
{

    align-items: center;
    background-color: $ice;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: flex-start;
    padding: 2rem;

    &__header
    {
        background-color: $black;
        color: $white;
        font-size: 2rem;
        text-align: center;
        margin: 10% 0;
        width: 100%;

        & h3
        {
            padding: 1rem 0;
        }
    }

    &__img
    {
        border-radius: 50%;
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10% auto;
        height: 20rem;
        width: 20rem;

        & img
        {
            display: block;
            max-width: 100%;
            object-fit: cover;
        }
    }

    &__types
    {
        margin: 10% auto;
    }

    &__type
    {
        color: $white;
        display: block;
        padding: 1rem 0;
        text-align: center;
    }
    
}