<div class="info-evolution">

    <div class="info-evolution__header">
        <h3>Evoluções</h3>
    </div>

    <div class="info-evolution__chain">

        <ng-container *ngIf="evolutions.length > 0; else noEvolution">

            <div *ngFor="let evolution of evolutions; let i = index" class="info-evolution__chain-step">

                <p class="info-evolution__chain-step--name">{{ evolution.name | capitalize }}</p>

                <div class="info-evolution__chain-step--img">
                    <img [src]="evolution.sprite" [alt]="evolution.name">
                </div>

                <span *ngIf="i > 0" class="info-evolution__chain-step--level">
                    (Level {{ evolution.min_level }})
                </span>

                <svg
                    *ngIf="i < evolutions.length - 1"
                    aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-down"
                    class="svg-inline--fa fa-arrow-down fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path fill="currentColor"
                        d="M413.1 222.5l22.2 22.2c9.4 9.4 9.4 24.6 0 33.9L241 473c-9.4 9.4-24.6 9.4-33.9 0L12.7 278.6c-9.4-9.4-9.4-24.6 0-33.9l22.2-22.2c9.5-9.5 25-9.3 34.3.4L184 343.4V56c0-13.3 10.7-24 24-24h32c13.3 0 24 10.7 24 24v287.4l114.8-120.5c9.3-9.8 24.8-10 34.3-.4z">
                    </path>
                </svg>
            </div>

        </ng-container>

        <ng-template #noEvolution>
            <div *ngFor="let evolution of evolutions; let i = index" class="info-evolution__chain-step">

                <p class="info-evolution__chain-step--name">{{ evolution.name | capitalize }}</p>

                <div class="info-evolution__chain-step--img">
                    <img [src]="evolution.sprite" [alt]="evolution.name">
                </div>

                <span *ngIf="i > 0" class="info-evolution__chain-step--level">
                    (Level {{ evolution.min_level }})
                </span>

            </div>
            
            <div class="no-evolution">
                O Pokémon já está em sua forma final.
            </div>
        </ng-template>

    </div>

    <div class="info-evolution__types">
        <span class="info-evolution__type" *ngFor="let type of pokemon.types">
            {{ type.type.name }}
        </span>
    </div>
</div>